@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
}

 
.mainScrollbar::-webkit-scrollbar {
 height: 4px;
 border-radius: 5px;
 background-color:#FF6B66;
}


.btn {
  background: #FFC132;
  position: relative;
  color: white;
  display: block;
  text-decoration: none;
  border:  none;
    overflow: hidden;
  transition: 1s all ease;
}
.btn:hover{
  background: none;


}

.btn::before{
  background: #FF6B66;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1; 
  transition: all 0.6s ease;
  width: 120%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(25deg);
}

.btn:hover::before {
  height: 350%;
} 